{% extends "tredegars/base.html" %}
{% load staticfiles %}
{% block content %}
    <h2>{{title}}</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><img src="{% static 'tredegars/img/bottles.jpg' %}" class="responsive-img" style='max-height:100px;' alt="face">
      </td>
      <td>Otto sdjjsd jsdhkjkjshkjdhkj ks dkjsdkjskd</td>
    </tr>

    <tr>
      <td><img src="{% static 'tredegars/img/smartwater.jpg' %}" class="responsive-img" style='max-height:100px;' alt="face">
      </td>
      <td>Thornton jhsj jhsjdhkjhkjshkd shkjksjk kjsdhk</td>
    </tr>
    <tr>
        <td><img src="{% static 'tredegars/img/softdrink.jpg' %}" class="responsive-img" style='max-height:100px;' alt="face">
        </td>
        <td colspan="2">Larry the Bird hsdj jshdjhksj skjdhkjhskjhkjhks d d</td>
    </tr>
    <tr>
        <td><img src="{% static 'tredegars/img/sprite.jpg' %}" class="responsive-img" style='max-height:100px;' alt="face">
        </td>
        <td colspan="2">Larryjshdhf jhsdjkjskd hskdjsdjskjhd the Bird</td>
    </tr>
  <tr>
        <td><img src="{% static 'tredegars/img/eco.png' %}" class="responsive-img" style='max-height:100px;' alt="face">
        </td>
        <td colspan="2">Larryjshdhf jhsdjkjskd hskdjsdjskjhd the Bird</td>
    </tr>
  <tr>
        <td><img src="{% static 'tredegars/img/drinks.jpg' %}" class="responsive-img" style='max-height:100px;' alt="face">
        </td>
        <td colspan="2">Larryjshdhf jhsdjkjskd hskdjsdjskjhd the Bird</td>
    </tr>
  <tr>
        <td><img src="{% static 'tredegars/img/images.jpg' %}" class="responsive-img" style='max-height:100px;' alt="face">
        </td>
        <td colspan="2">Larryjshdhf jhsdjkjskd hskdjsdjskjhd the Bird</td>
    </tr>
  <tr>
        <td><img src="{% static 'tredegars/img/softdrink.jpg' %}" class="responsive-img" style='max-height:100px;' alt="face">
        </td>
        <td colspan="2">Larryjshdhf jhsdjkjskd hskdjsdjskjhd the Bird</td>
    </tr>
  <tr>
        <td><img src="{% static 'tredegars/img/softdrink.jpg' %}" class="responsive-img" style='max-height:100px;' alt="face">
        </td>
        <td colspan="2">Larryjshdhf jhsdjkjskd hskdjsdjskjhd the Bird</td>
    </tr>
  <tr>
        <td><img src="{% static 'tredegars/img/softdrink.jpg' %}" class="responsive-img" style='max-height:100px;' alt="face">
        </td>
        <td colspan="2">Larryjshdhf jhsdjkjskd hskdjsdjskjhd the Bird</td>
    </tr>
  <tr>
        <td><img src="{% static 'tredegars/img/softdrink.jpg' %}" class="responsive-img" style='max-height:100px;' alt="face">
        </td>
        <td colspan="2">Larryjshdhf jhsdjkjskd hskdjsdjskjhd the Bird</td>
    </tr>
  </tbody>
</table>

    <img src="{% static 'tredegars/img/profile.jpg' %}" class="responsive-img" style='max-height:100px;' alt="face">

{% endblock content %}
